<div class="swiper-slide bigteaser__item" style="width: 452px; margin-right: 32px;">
						<div class="bigteaser__figure" style="background-image: url(&quot;<%=teaser.image%>&quot;);"></div>
						<h3 class="bigteaser__subtitle" role="doc-subtitle">
              <a href="<%=teaser.url%>">
								<%=teaser.subtitle%>
              </a>
						</h3>
						<p class="description-bold bigteaser__title">
							<%=teaser.title%>
						</p>
            
              <a class="button link link-default home-slider-button" href="<%=teaser.url%>" data-name="<%=teaser.subtitle%> - <%=teaser.title%>" aria-hidden="true" tabindex="-1"><%=teaser.mylabel.name%></a>
            
					</div>
