<aside class="grid-container event-media">
	<div class="grid-x grid-margin-x align-center">
		<div class="cell has-background">
			<figure class="video-module has-dark-gradient">
				
					<a class="open-media-overlay" href="<%=spotify.iframe%>" data-lightbox="">
				
						<picture>
							<img src="<%=spotify.image%>" title="<%=spotify.caption%>" alt="<%=spotify.caption%>">
						</picture>
				
					</a>
				

				<div class="grid-container section-container text-container">
					<div class="grid-x grid-margin-x align-center align-middle">
						<div class="cell medium-5 ">
							
						</div>
						<div class="cell medium-5"></div>
					</div>
				</div>

				
					<span class="image-caption"><%=spotify.caption%></span>
				
			</figure>
		</div>
	</div>
</aside>
