

<!-- end ngIf: $ctrl.enableEmailRepetition && !$ctrl.readOnly --></input-email>
            <div class="shop-form-row">
                <div class="label-wrapper">
                    <label for="customer-password" class="ng-binding">
                        Password
                    </label>
                </div>
                <div class="shop-form-item">
                    <%=form.password_field "password", id: "customer-password", autocomplete: "new-password", required: "", class: "ng-pristine #{!user.errors[:password].blank? ? "ng-empty ng-invalid ng-invalid-required ng-touched" : nil} ng-untouched ng-empty ng-invalid ng-invalid-required"%>
                    <label class=" ng-binding <%=user.errors[:password].blank? ? "nbhide" : "validation-error"%>" for="customer-password" ng-show="$ctrl.submitted &amp;&amp; $ctrl.customerDataForm['customer-password'].$invalid">
                        Please provide your password.
                    </label>
                    <label class="validation-hint ng-binding" ng-class="{'': $ctrl.submitted &amp;&amp; $ctrl.serverError == 'PASSWORD_TOO_WEAK'}" for="customer-password">
                        Must be at least 8 characters, with upper case, lower case and numbers
                    </label>
                </div>
            </div>
            <div class="shop-form-row">
                <div class="label-wrapper"></div>
                <div class="shop-form-item ng-binding" style="padding-top: 20px;" ng-bind-html="$ctrl.dsgvo">When you register to create an account, the data you provide is recorded and stored electronically. You can deactivate your customer account at any time. If you do not agree to the data processing, you cannot purchase tickets online. You’ll find further information in our <a href="https://www.elbphilharmonie.de/en/privacy-policy" target="_blank">Privacy Policy</a>.</div>
            </div>
        </div><!-- end ngIf: !$ctrl.isExistingUser || $ctrl.emailIsReadOnly -->

    </div>
</div>

<div class="content-row row-big">
    <div class="large-offset-3 large-6 small-offset-0 small-12 columns">
        <div class=" ng-binding <%=user.errors[:password].blank? ? "nbhide" : "validation-error"%>" ng-show="$ctrl.submitted &amp;&amp; $ctrl.serverError == 'PASSWORD_TOO_WEAK'">
            Please enter a secure password.
        </div>
        <div class=" ng-binding <%=user.errors[:password].blank? ? "nbhide" : "validation-error"%>" ng-show="$ctrl.submitted &amp;&amp; $ctrl.serverError == 'EMAIL_ALREADY_TAKEN'">
            A customer account with this email address already exists. Please log in using the correct password. You can<a ng-href="https://shop.elbphilharmonie.de/en/reset-password/" class="ng-binding" href="https://shop.elbphilharmonie.de/en/reset-password/">request a new password</a> if you have forgotten your password or do not have it currently at hand.
        </div>
        <div class=" ng-scope <%=user.errors[:password].blank? ? "nbhide" : "validation-error"%>" ng-show="$ctrl.submitted &amp;&amp; $ctrl.serverError == 'USER_NOT_UNIQUE_IN_JETTICKET'" translate="GENERAL_AUTHENTICATION_ERRORUSERNOTUNIQUEINJETTICKET">Conflicting customer data is already present in our system. Please contact us by email at tickets@elbphilharmonie.de.</div>
        <div class=" ng-binding <%=user.errors[:password].blank? ? "nbhide" : "validation-error"%>" ng-show="$ctrl.submitted &amp;&amp; $ctrl.serverError == 'UNKNOWN_ERROR'">
            Registration was not successful. Please contact us by email at tickets@elbphilharmonie.de.
        </div>
        <div class=" ng-binding <%=user.errors[:password].blank? ? "nbhide" : "validation-error"%>" ng-show="$ctrl.submitted &amp;&amp; $ctrl.customerDataForm.$invalid">
            At least one of your entries is incorrect. Please try again.
        </div>
    </div>
</div>
